<div class="content_padding">
  <h2>Live Channels</h2>
  <p class="lead">With your Apple device you can watch live television or listen to live radio from over 50 channels.</p>
  <img src="images/ajax-loader.gif" class="spinner" ng-hide="programmes != null || live_error" />

  <ul id="channel-list" class="flex-container">
    <li class="table-view-cell group" ng-repeat="programme in programmes">
      <div class="progress_fill" style="width: {{ programme.percentage_watched }}%"></div>
      <a href="#/programmes/{{ programme.programme_id }}">
        <div class="left">
          <img src="http://148.88.32.64/cache/170x100-2/programmes{{ programme.image }}" style="width: 85px; height: 50px;" />
        </div>
        <div class="right">
          <p>{{ programme.programme_name }}</p>
          <p class="metadata">
            <span ng-show="programme.percentage_watched">{{ programme.percentage_watched}}% Watched &middot; </span>
            {{ programme.channel_name }} &middot; {{ programme.duration_mins }} minutes
          </p>
          <span class="glyphicons chevron-right"></span>
        </div>
        <p class="small synopsis">{{ programme.synopsis | cut:true:130 }}</p>
      </a>
    </li>

    <li class="table-view-cell empty-list-message" ng-show="programmes.length == 0">
      <p>We don't have any live channels broadcasting at the moment</p>
    </li>

    <li class="table-view-cell error-message" ng-show="live_error">
      <p>Problem getting live channels</p>
      <p>Ensure you're on the Lancaster network either via eduroam or by connecting over VPN.</p>
    </li>
  </ul>
</div>
