<div class="content_padding">
  <h2>Search</h2>
  <p class="lead">Search for your favourite programmes below.</p>

  <form id="search-form" ng-submit="search()">
    <div class="inner">
      <input name="search" id="search" type="text" ng-model="query" placeholder="Enter a search term" />
    </div>
    <button type="submit">Search</button>
  </form>

  <img src="images/ajax-loader.gif" class="spinner" ng-show="show_spinner" />

  <ul id="search-results" class="flex-container">
    <li class="table-view-cell group" ng-repeat="programme in results">
      <div class="progress_fill" style="width: {{ programme.percentage_watched }}%"></div>
      <a href="#/programmes/{{ programme.programme_id }}">
        <div class="left">
          <img src="http://148.88.32.64/cache/170x100-2/programmes{{ programme.image }}" style="width: 85px; height: 50px;" />
        </div>
        <div class="right">
          <p>{{ programme.programme_name }}</p>
          <p class="metadata">
            <span ng-show="programme.percentage_watched">{{ programme.percentage_watched}}% Watched &middot; </span>
            {{ programme.channel_name }} &middot; {{ programme.duration }}
          </p>
          <span class="glyphicons chevron-right"></span>
        </div>
        <p class="small synopsis">{{ programme.synopsis | cut:true:130 }}</p>
      </a>
    </li>

    <li class="table-view-cell empty-list-message" ng-show="results.length == 0">
      <p>No search results were found</p>
    </li>

    <li class="table-view-cell empty-list-message error-message" ng-show="search_error">
      <p>Problem getting search results</p>
      <p>Ensure you're on the Lancaster network either via eduroam or by connecting over VPN.</p>
    </li>
  </ul>
</div>
