<!DOCTYPE html>
<html ng-app="vision">

<head>
  <meta charset="utf-8">
  <title>Vision Mobile Application</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

  <!-- CSS libs -->
  <link href="lib/reset.css" rel="stylesheet">
  <link href="lib/glyphicons.css" rel="stylesheet">
  <link href="lib/mediaelement/mediaelementplayer.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="css/styles.css" rel="stylesheet">
  <link href="css/nav-bars.css" rel="stylesheet">
  <link href="css/lists.css" rel="stylesheet">

  <!-- In the <head> as it needs to load before the page DOM is built -->
  <script src="lib/modernizr.js"></script>
</head>

<body ng-cloak>
  <header class="bar bar-nav">
    <h1 id="page-title">{{ title ? title : "Vision Mobile" }}</h1>
    <a href="#/"><img src="images/vision_logo.png" /></a>
  </header>

  <nav class="bar bar-tab" ng-show="logged_in" ng-class="{ visible: logged_in }">
    <a class="tab-item" href="#/live" ng-class="{ active: title == 'Live Channels' }">
      <span class="glyphicons calendar icon"></span>
      <span class="tab-label">Live</span>
    </a>
    <a class="tab-item" href="#/history" ng-class="{ active: title == 'History' }">
      <span class="glyphicons clock icon"></span>
      <span class="tab-label">History</span>
    </a>
    <a class="tab-item" href="#/" ng-class="{ active: title == 'Dashboard' }">
      <span class="glyphicons home icon"></span>
      <span class="tab-label">Dashboard</span>
    </a>
    <a class="tab-item" href="#/library" ng-class="{ active: title == 'My Library' }">
      <span class="glyphicons bookmark icon"></span>
      <span class="tab-label">Library</span>
    </a>
    <a class="tab-item" href="#/search" ng-class="{ active: title == 'Search' }">
      <span class="glyphicons search icon"></span>
      <span class="tab-label">Search</span>
    </a>
  </nav>

  <div class="content" ng-view>
    <!-- This gets replaced by Angular -->
  </div>

  <script type="text/ng-template" id="dashboard.html">
    <div class="content_padding">
      <h2>Recommendations</h2>
      <img src="images/ajax-loader.gif" class="spinner" ng-hide="recommendations != null || recommendations_error" />
      <ul class="flex-container">
        <li class="table-view-cell group" ng-repeat="programme in recommendations">
          <a href="#/programmes/{{ programme.programme_id }}">
            <div class="left">
              <img src="http://148.88.32.64/cache/170x100-2/programmes{{ programme.image }}" style="width: 85px; height: 50px;" />
            </div>
            <div class="right">
              <p>{{ programme.programme_name }}</p>
              <p class="metadata">
                <span ng-show="programme.percentage_watched">{{ programme.percentage_watched}}% Watched &middot; </span>
                {{ programme.channel_name }} &middot; {{ programme.duration_mins }} minutes
              </p>
              <span class="glyphicons chevron-right"></span>
            </div>
            <p class="small synopsis">{{ programme.synopsis | cut:true:160 }}</p>
          </a>
        </li>

        <li class="table-view-cell empty-list-message" ng-show="recommendations.length == 0">
          <p>We don't have any recommendations for you at the moment</p>
        </li>

        <li class="table-view-cell empty-list-message error-message" ng-show="recommendations_error">
          <p>Problem getting recommendations</p>
          <p>Ensure you're on the Lancaster network either via eduroam or by connecting over VPN.</p>
        </li>
      </ul>

      <h2>Trending</h2>
      <img src="images/ajax-loader.gif" class="spinner" ng-hide="trending != null || trending_error" />
      <ul class="flex-container">
        <li class="table-view-cell group" ng-repeat="programme in trending">
          <div class="progress_fill" style="width: {{ programme.percentage_watched }}%"></div>
          <a href="#/programmes/{{ programme.programme_id }}">
            <div class="left">
              <img src="http://148.88.32.64/cache/170x100-2/programmes{{ programme.image }}" style="width: 85px; height: 50px;" />
            </div>
            <div class="right">
              <p>{{ programme.programme_name }}</p>
              <p class="metadata">
                <span ng-show="programme.percentage_watched">{{ programme.percentage_watched}}% Watched &middot; </span>
                {{ programme.channel_name }} &middot; {{ programme.duration_mins }} minutes
              </p>
              <span class="glyphicons chevron-right"></span>
            </div>
            <p class="small synopsis">{{ programme.synopsis | cut:true:160 }}</p>
          </a>
        </li>

        <li class="table-view-cell empty-list-message" ng-show="trending.length == 0">
          <p>We don't have any trending programmes at the moment</p>
        </li>

        <li class="table-view-cell empty-list-message error-message" ng-show="trending_error">
          <p>Problem getting trending programmes</p>
          <p>Ensure you're on the Lancaster network either via eduroam or by connecting over VPN.</p>
        </li>
      </ul>

      <p id="footer">
        Developed by Ross Wilson &middot; <a ng-click="logout()">Logout</a>
      </p>
    </div>
  </script>

  <script type="text/ng-template" id="history.html">
    <div class="content_padding">
      <h2>Your Viewing History</h2>
      <p class="lead">See your viewing history from across all your devices and pickup from where you last were.</p>
      <img src="images/ajax-loader.gif" class="spinner" ng-hide="history != null || history_error" />

      <ul id="history" class="vertical-list">
        <li class="table-view-cell" ng-repeat="programme in history">
          <div class="progress_fill" style="width: {{ programme.percentage_watched }}%"></div>
          <a class="group" ng-href="#/programmes/{{ programme.programme_id }}?start_at={{ programme.last_known_position }}">
            <div class="left">
              <img src="http://148.88.32.64/cache/170x100-2/programmes{{ programme.image }}" style="width: 85px; height: 50px;" />
            </div>
            <div class="right">
              <p>{{ programme.programme_name }}</p>
              <p class="metadata">{{ programme.channel_name }} &middot; {{ programme.duration_mins }} mins &middot; {{ programme.percentage_watched }}% watched</p>
            </div>
            <p class="small synopsis">{{ programme.synopsis | cut:true:160 }}</p>
          </a>
        </li>

        <li class="table-view-cell empty-list-message" ng-show="history.length == 0">
          <p>You have not watched anything yet</p>
        </li>

        <li class="table-view-cell empty-list-message error-message" ng-show="history_error">
          <p>Problem getting your viewing history</p>
          <p>Ensure you're on the Lancaster network either via eduroam or by connecting over VPN.</p>
        </li>
      </ul>
    </div>
  </script>

  <script type="text/ng-template" id="library.html">
    <div class="content_padding">
      <h2>Watch Later</h2>
      <p class="lead">Click the Watch Later button when watching a programme to bookmark it here.</p>
      <img src="images/ajax-loader.gif" class="spinner" ng-hide="watch_later != null || library_error" />

      <ul id="channel-list" class="flex-container">
        <li class="table-view-cell group" ng-repeat="programme in watch_later">
          <a href="#/programmes/{{ programme.programme_id }}?start_at={{ programme.position }}">
            <div class="left">
              <img src="http://148.88.32.64/cache/170x100-2/programmes{{ programme.image }}" style="width: 85px; height: 50px;" />
            </div>
            <div class="right">
              <p>{{ programme.programme_name }}</p>
              <p class="metadata">{{ programme.channel_name }} &middot; {{ programme.duration_mins }} minutes</p>
              <span class="glyphicons chevron-right"></span>
            </div>
            <p class="small synopsis">{{ programme.synopsis | cut:true:160 }}</p>
          </a>
        </li>

        <li class="table-view-cell empty-list-message" ng-show="watch_later.length == 0">
          <p>Your Watch Later list is empty</p>
        </li>

        <li class="table-view-cell empty-list-message error-message" ng-show="library_error">
          <p>Problem getting your programme library</p>
          <p>Ensure you're on the Lancaster network either via eduroam or by connecting over VPN.</p>
        </li>
      </ul>
    </div>
  </script>

  <script type="text/ng-template" id="search.html">
    <div class="content_padding">
      <h2>Search</h2>
      <p class="lead">Search for your favourite programmes below.</p>

      <form id="search-form" ng-submit="search()">
        <div class="inner">
          <input name="search" id="search" type="text" ng-model="query" placeholder="Enter a search term" />
        </div>
        <button type="submit">Search</button>
      </form>

      <img src="images/ajax-loader.gif" class="spinner" ng-show="show_spinner" />

      <ul id="search-results" class="flex-container">
        <li class="table-view-cell group" ng-repeat="programme in results">
          <a href="#/programmes/{{ programme.programme_id }}">
            <div class="left">
              <img src="http://148.88.32.64/cache/170x100-2/programmes{{ programme.image }}" style="width: 85px; height: 50px;" />
            </div>
            <div class="right">
              <p>{{ programme.programme_name }}</p>
              <p class="metadata">{{ programme.channel_name }} &middot; {{ programme.duration }}</p>
              <span class="glyphicons chevron-right"></span>
            </div>
            <p class="small synopsis">{{ programme.synopsis | cut:true:130 }}</p>
          </a>
        </li>

        <li class="table-view-cell empty-list-message" ng-show="results.length == 0">
          <p>No search results were found</p>
        </li>

        <li class="table-view-cell empty-list-message error-message" ng-show="search_error">
          <p>Problem getting search results</p>
          <p>Ensure you're on the Lancaster network either via eduroam or by connecting over VPN.</p>
        </li>
      </ul>
    </div>
  </script>

  <script type="text/ng-template" id="live.html">
    <div class="content_padding">
      <h2>Live Channels</h2>
      <p class="lead">With your Apple device you can watch live television or listen to live radio from over 50 channels.</p>
      <img src="images/ajax-loader.gif" class="spinner" ng-hide="programmes != null || live_error" />

      <ul id="channel-list" class="flex-container">
        <li class="table-view-cell group" ng-repeat="programme in programmes">
          <a href="#/programmes/{{ programme.programme_id }}">
            <div class="left">
              <img src="http://148.88.32.64/cache/170x100-2/programmes{{ programme.image }}" style="width: 85px; height: 50px;" />
            </div>
            <div class="right">
              <p>{{ programme.programme_name }}</p>
              <p class="metadata">{{ programme.channel_name }} &middot; {{ programme.duration_mins }} minutes</p>
              <span class="glyphicons chevron-right"></span>
            </div>
            <p class="small synopsis">{{ programme.synopsis | cut:true:130 }}</p>
          </a>
        </li>

        <li class="table-view-cell empty-list-message" ng-show="programmes.length == 0">
          <p>We don't have any live channels broadcasting at the moment</p>
        </li>

        <li class="table-view-cell error-message" ng-show="live_error">
          <p>Problem getting live channels</p>
          <p>Ensure you're on the Lancaster network either via eduroam or by connecting over VPN.</p>
        </li>
      </ul>
    </div>
  </script>

  <script type="text/ng-template" id="playback.html">
    <div class="content_padding" id="playback">
      <div ng-hide="programme || playback_error">
        <h2>Waiting for programme to load</h2>
        <img src="images/ajax-loader.gif" class="spinner" ng-hide="programme" />
      </div>

      <div ng-show="playback_error" class="error-message">
        <p>Problem getting programme information</p>
        <p>Ensure you're on the Lancaster network either via eduroam or by connecting over VPN.</p>
      </div>

      <div ng-show="programme" class="group">
        <h2>{{ programme.programme_name }} <small ng-show="programme.sub_title">Episode {{ programme.sub_title }}</small></h2>
        <article>
          <div id="video_wrapper" ng-show="programme.watch_live || programme.watch_catchup">
            <video id="video-player" src="" height="100%" controls="controls" preload='auto'>
              <p>Sorry, your device is not capable of playing our videos</p>
            </video>
          </div>
          <div class="message" ng-show="programme.available_soon">
            <p>This programme is currently being recorded and processed.</p>
            <p>It'll be available here soon.</p>
          </div>
          <div class="message" ng-show="programme.waiting_to_be_recorded">
            <p>This programme has not been broadcast yet.</p>
            <p>Come back here later to watch it live or on demand</p>
          </div>
          <div class="message" ng-show="programme.not_available && !programme.waiting_to_be_recorded">
            <p>This programme is not available to watch.</p>
          </div>
          <button id="watch-later" ng-click="watch_later()">
            <span class="glyphicons plus icon"></span> Add to my Watch Later list
          </button>
        </article>
        <aside>
          <dl>
            <dt ng-show="programme.episode">Episode</dt>
            <dd ng-show="programme.episode">{{ programme.episode }}</dd>

            <dt ng-show="programme.synopsis">Synopsis</dt>
            <dd ng-show="programme.synopsis">{{ programme.synopsis }}</dd>

            <dt ng-show="programme.broadcast">Date</dt>
            <dd ng-show="programme.broadcast">{{ programme.broadcast }}</dd>

            <dt ng-show="programme.channel_name">Channel</dt>
            <dd ng-show="programme.channel_name">{{ programme.channel_name }}</dd>

            <dt ng-show="programme.director">Director</dt>
            <dd ng-show="programme.director">{{ programme.director }}</dd>

            <dt ng-show="programme.genre && programme.genre != 'Unclassified'">Genre</dt>
            <dd ng-show="programme.genre && programme.genre != 'Unclassified'">{{ programme.genre }}</dd>

            <dt>Duration</dt>
            <dd>{{ programme.duration }}</dd>
          </dl>
        </aside>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="login.html">
    <div id="login_wrapper" class="blue_gradient">
      <div class="inner">
        <h2>Welcome</h2>
        <p>Visit Vision on your computer to get a PIN code to use this mobile app.</p>
        <p id="instructions"><a href="">Click here to toggle instructions</a></p>

        <div id="screenshot_container">
          <img src="images/pin_code.png" id="screenshot" />
          <p>Login to Vision on your computer. Then get a PIN code as shown in the screenshot. Type that code below.</p>
        </div>

        <div id="pin_preview">
          <p class="code" ng-show="pin_code != ''">{{ pin_code }}</p>
          <p class="placeholder" ng-show="pin_code == '' && !error_message">Enter PIN with the buttons below</p>
          <p class="placeholder error" ng-show="error_message" ng-hide="pin_code != ''">{{ error_message }}</p>
        </div>

        <!-- Build the numerical keypad -->
        <div class="keypad group">
          <button type="button" ng-click="append('1')">1</button>
          <button type="button" ng-click="append('2')">2</button>
          <button type="button" ng-click="append('3')">3</button>
          <button type="button" ng-click="append('4')">4</button>
          <button type="button" ng-click="append('5')">5</button>
          <button type="button" ng-click="append('6')">6</button>
          <button type="button" ng-click="append('7')">7</button>
          <button type="button" ng-click="append('8')">8</button>
          <button type="button" ng-click="append('9')">9</button>
          <button type="button" ng-click="append('0')">0</button>
        </div>

        <div class="group">
          <button type="submit" ng-click="login()" id="login_btn">Login</button>
          <button type="submit" ng-click="clear()" id="clear_btn">Clear</button>
        </div>
      </div>
    </div>
  </script>

  <!-- Load cordova framework script -->
  <script src="cordova.js"></script>

  <!-- Load libs -->
  <script src="lib/jquery.js"></script>
  <script src="lib/fastclick.js"></script>
  <script src="lib/sha1.js"></script>
  <script src="lib/mediaelement/mediaelement-and-player.min.js"></script>
  <script src="lib/angular/angular.min.js"></script>
  <script src="lib/angular/angular-resource.min.js"></script>
  <script src="lib/angular/angular-route.min.js"></script>

  <!-- Finally load application  -->
  <script src="js/app.js"></script>
  <script src="js/dashboard.js"></script>
  <script src="js/library.js"></script>
  <script src="js/history.js"></script>
  <script src="js/search.js"></script>
  <script src="js/playback.js"></script>
  <script src="js/live.js"></script>
  <script src="js/login.js"></script>
</body>
</html>
