body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 17px;
  line-height: 21px;
}

.bar-tab ~ .content {
  padding-bottom: 60px;
}

.bar-nav ~ .content {
  padding-top: 44px;
}

.content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background-color: #fff;
}

.bar {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 10;
  height: 44px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: rgba(247,247,247,.88);
  border-bottom: 1px solid #ddd;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.bar h1 {
  line-height: 1em;
  margin-right: 10px;
  margin-top: 16px;
  float: right;
  display: block;
  font-size: 17px;
  font-weight: 500;
  color: #757575;
}

.bar img {
  height: 31px;
  width: 101px;
  padding-top: 7px;
}

.bar-tab {
  bottom: 0;
  display: table;
  width: 100%;
  height: 50px;
  padding: 0;
  table-layout: fixed;
  border-top: 1px solid #ddd;
  border-bottom: 0;
}

.bar-tab .tab-item {
  font-size: 11px;
  display: table-cell;
  height: 60px;
  color: #757575;
  text-align: center;
  vertical-align: middle;
}

.bar-tab .tab-item .icon {
  width: 18px;
  height: 18px;
  padding-left: 0;
  margin-bottom: 7px;
  margin-top: 2px;
}

.bar-tab .tab-item .icon:before {
  font-size: 18px;
  color: #757575;
}

.bar-tab .tab-item .tab-label {
  display: block;
  line-height: 1em;
}

a {
  color: #428bca;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

li.table-view-cell {
  padding: 11px 50px 11px 15px;
  border-bottom: 1px solid #ddd;
  position: relative;
}

li.table-view-cell .small {
  font-size: 14px;
  color: #777;
  margin-top: 4px;
}

li.table-view-cell .left {
  float: left;
  margin-right: 15px;
}

li.table-view-cell .right {
  overflow: hidden;
}

li.table-view-cell .glyphicons:before {
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #bbb;
}

li.table-view-cell .glyphicons {
  position: absolute;
  right: 40px;
  top: 50%;
}

li.table-view-cell .metadata {
  font-size: 13px;
  color: #444;
  margin-top: 6px;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}
