.flex-container {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

li.table-view-cell {
  padding: 11px 50px 11px 15px;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;

  /*position: relative;*/

  -webkit-flex: 20em;
  -ms-flex: 20em;
  flex: 20em;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
}

li.table-view-cell .small {
  font-size: 14px;
  color: #777;
  margin-top: 4px;
}

li.table-view-cell .left {
  float: left;
  margin-right: 15px;
}

li.table-view-cell .right {
  overflow: hidden;
}

li.table-view-cell .glyphicons:before {
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #bbb;
}

li.table-view-cell .glyphicons {
  position: absolute;
  right: 40px;
  top: 50%;
}

li.table-view-cell .metadata {
  font-size: 13px;
  color: #444;
  margin-top: 6px;
}
