*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

html, body {
  width: 100%;
  min-height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.content {
  position: absolute;
  overflow: auto;
  -webkit-overflow-scrolling:touch;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.blue_gradient {
  background-color: #012D59;

  /* Safari 5.1+, Chrome 10+ */
  background: -webkit-radial-gradient(circle, #46A1FC, #012D59);
  background: radial-gradient(circle, #46A1FC, #012D59);
}

a {
  color: #428bca;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

p {
  line-height: 1.5em;
}

p.lead {
  color: #444;
  margin: 1em 0;
  font-size: 95%;
}

h2 {
  font-weight: 500;
  font-size: 20px;
  margin: 15px 0;
}

h2:first-child {
  margin-top: 0;
}

h2 small {
  font-size: 80%;
  color: #777;
  padding-left: 5px;
}

/* Login specific styles */
#login_wrapper .inner {
  background-color: #f2f2f2;
  margin: 0 auto;
  padding: 30px;
}

@media (min-width: 700px) {
  #login_wrapper {
    display: -webkit-flex;
    display: flex;

    -webkit-align-items: center;
    align-items: center;

    -webkit-justify-content: center;
    justify-content: center;

    width: 100%;
    height: 100%;
  }

  #login_wrapper .inner {
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid #eee;
    max-width: 480px;
  }
}

#login_wrapper h2 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 15px;
}

#login_wrapper #pin_preview {
  border: 1px solid #ddd;
  background-color: white;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  border-radius: 4px;
  margin-top: 30px;
}

#login_wrapper #pin_preview p.code {
  letter-spacing: 30px;
  margin-right: -30px;
}

#login_wrapper #pin_preview p.placeholder {
  font-size: 15px;
  color: #555;
  line-height: 30px;
}

#login_wrapper #pin_preview p.error {
  color: #f00;
}

#login_wrapper button {
  width: 30%;
  height: 50px;
  display: block;
  float: left;
  line-height: 30px;
  margin: 10px 5% 0 0;
  font-size: 18px;
}

#login_wrapper .keypad {
  margin: 15px 0;
}

#login_wrapper .keypad button:nth-child(3n) {
  margin-right: 0;
}

#login_wrapper .keypad button:nth-child(10) {
  margin-left: 35%;
}

#login_wrapper #login_btn {
  width: 47.5%;
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

#login_wrapper #clear_btn {
  width: 47.5%;
  margin-right: 0;
}

/* Buttons */
.btn, button {
  -webkit-appearance: none;
  border: 1px solid #ddd;
  cursor: pointer;
  border-radius: 4px;
  background-color: #fff;
  -webkit-user-select: none;
  text-align: center;
}

button:active, button.active, .btn:active, .btn.active {
  outline: 0;
  background-image: none;
  -webkit-user-select: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

button:focus, .btn:focus {
  outline:0;
}

.btn.pill {
  border-radius: 19px;
  line-height: 1em;
  font-size: 15px;
  padding: 10px 15px;
}


#footer {
  color: #888;
  font-size: 14px;
  text-align: center;
  margin-top: 14px;
}

.spinner {
  width: 32px;
  height: 32px;
  margin: 15px auto;
  display: block;
}

dt {
  float: left;
  font-weight: bold;
  clear: left;
  padding-bottom: 20px;
  line-height: 1.5em;
}

dd {
  overflow: hidden;
  padding-left: 20px;
  padding-bottom: 20px;
}

#watch-later {
  padding: 14px;
  font-size: 13px;
  background-color: #428bca;
  color: white;
  display: block;
}

#watch-later .glyphicons.plus {
  height: 15px;
  width: 16px;
  margin-right: 5px;
  vertical-align: text-bottom;
}

#watch-later .glyphicons.plus:before {
  font-size: 14px;
  color: white;
}

@media (max-width: 1024px) {
  #watch-later {
    margin: 0 auto 20px;
  }
}

.content_padding {
  padding: 10px;
}

@media (min-width: 550px) {
  .content_padding {
    padding: 20px;
  }
}

/* Playback specific */
#playback #video_wrapper {
  width: 100%;
  margin-bottom: 20px;
}

#playback dd {
  font-size: 15px;
}

#playback dt {
  width: 70px;
}

@media (min-width: 1024px) {
  #playback article {
    width: 50%;
    float: left;
    padding-right: 10px;
  }

  #playback aside {
    width: 50%;
    float: left;
    padding-left: 10px;
  }
}

/* Search specific */
form#search-form {
  /*max-width: 900px;*/
  margin: 15px auto;
  position: relative;
}

form#search-form .inner {
  margin-right: 80px;
}

form#search-form input#search {
  padding: 0px 18px;
  height: 44px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  font-size: 16px;
  margin: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-appearance:none;  /* Remove default shadow */

  /* Needed otherwise iOS can't type into the field */
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  -o-user-select: initial;
  user-select: initial;
}

form#search-form input#search:focus {
  outline: 0;
}

form#search-form button {
  position: absolute;
  top: 0px;
  right: 0;
  width: 81px;
  height: 44px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
