* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 17px;
  line-height: 21px;
  -webkit-font-smoothing: antialiased;
}

.content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background-color: #fff;
}

a {
  color: #428bca;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}
